<div>
    <section id="features" class="event_list_title">
        <div class="container">
            <div class="row">
                <div class="internal-page-title text-center">
                	<h2>EVENTS</h2>
                </div>

                <div class="col-sm-11 text-right">
                    <div class="service-item">
                        <input type="radio" name="event_type" id="event_type_past" value="past" class="event_type event_past" ng-click="event_type_change('past')"/> Past
                        <input type="radio" name="event_type" id="event_type_upcoming" class="event_type event_upcoming" checked value="upcoming" ng-click="event_type_change('upcoming')" /> Upcoming
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="upcoming_events">
        <div class="container scroll_container" data_page="1" data_page_count="{{page_count}}" data_page_type="event">
            <div class="row" ng-if="upcoming_events_list.length != 0">
                <ul class="project-wrapper wow animated fadeInUp list_wrapper">
                    <li class="portfolio-item portfolio-item-list" ng-repeat="event_dt in upcoming_events_list">
                        <a href="{{'/events/' + event_dt.unique_id}}" >
                        	{{
                        		images_path = event_dt.images.length == 0 ? '/uploads/fake.jpg': utilService.formatImagePath(event_dt.images[0].image_path, 'MID');""
                        	}}
                            <img ng-src="{{images_path}}" class="img-responsive" alt="{{event_dt.name}}" onerror="this.src='/assets/images/no_image_default.png'" />
                        </a>
                        <figcaption class="mask">
                            <h3>{{event_dt.name}}</h3>
                            <p>{{event_dt.start_date | date : "MMM d, yyyy HH:mm"}} to {{event_dt.end_date | date : "MMM d, yyyy HH:mm"}}</p>
                        </figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="{{event_dt.name}}" data-fancybox-group="works" href="{{event_dt.images[0].image_path}}" onerror="this.href='/assets/images/no_image_default.png'" onclick="return false;" ><i class="fa fa-search"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="text-center" ng-if="upcoming_events_list.length == 0">
            	<h2>No Events Found</h2>
            </div>
        </div>
    </section>
</div>
