#upcoming_events .container .row, #features .container .row,  #contact .container .row {
	margin-top: 30px;
    margin-bottom: 30px;
}
#event_details .container .row {
	margin-top: 30px;
    margin-bottom: 10px;
}

.share-btns {
	margin : 10px 0;
}
.share-btns a {
	border-radius: 25px;
}